/!compile.exe
/!comp_weaponmod.bat
/!comp_weaponmod2.bat
/!dod_client_functions.txt
/!dod_functions.txt
/!gpt_sniper.sma
/!hl__functions.txt
/.vscode
/111111.sma
/1111primer.sma
/11compile.exe
/1addweapon.sma
/1basic func2.sma
/1instruction.md
/1menuteam.sma
/1moratranim.sma
/2findedbazooka.sma
/2howtomakeplugins.cpp
/3fade.sma
/6orpheu.sma
/7anim.sma
/7dod_ussr.sma
/9code_test.sma
/9code_test.sma.bak
/addon_custom_weather.sma
/admin.sma
/adminchat.sma
/admincmd.sma
/adminhelp.sma
/adminslots.sma
/adminvote.sma
/advanced_bans_sql.sma
/amxmod_compat
/amxxpc
/amxxpc.exe
/amxxpc32.dll
/amxxpc32.so
/amxxpc_osx
/amx_gore_ck_custom.s,a.txt
/amx_msglog.sma.bak
/animmenu.sma
/antiflood.sma
/bd_reset.txt
/bullet_damage_ranking.sma
/civilian_npc.sma
/civilian_wps.sma
/classic190
/cmdmenu.sma
/common.games
/compile.dat
/compile.exe
/compile.sh
/Complete180
/connect_exec.sma
/csstats.sma
/cs_throw_knife.sma
/cw_manager.sma
/daily_mapcycle.sma
/deagsmapmanager.sma
/dodser3.code-profile
/dodstats.sma
/dod_ak47.sma.bak
/dod_alltracers.sma.bak
/dod_animator.sma.bak
/dod_animdemo.sma.bak
/dod_antitroopmine.sma.bak
/dod_arraysave.sma.bak
/dod_damagehud.sma.bak
/dod_datasaver.sma.bak
/dod_doorsblow.sma.bak
/dod_dropallweapons.sma.bak
/dod_fastspawn.sma.bak
/dod_fmresearch.sma.bak
/dod_forceparticlesfx.sma.bak
/dod_grenade_trail.sma.bak
/dod_ground_mortar.sma.bak
/dod_headshot.sma.bak
/dod_healthbarfit.sma.bak
/dod_hellwar.sma.bak
/dod_ironsighter2.sma.bak
/dod_ironsight_0722.sma.bak
/dod_jagendog.sma.bak
/dod_jagendog_start.sma.bak
/dod_jagendog_trace.sma.bak
/dod_jagendog_tracevelocity.sma.bak
/dod_knifewall.sma.bak
/dod_mapsettings.sma.bak
/dod_medic_h.sma.bak
/dod_menu_guns.sma.bak
/dod_menu_guns_3003.sma.bak
/dod_mespec.sma.bak
/dod_nazi_signs.sma.bak
/dod_noclip.sma.bak
/dod_parse_ent.sma.bak
/dod_prisoner.sma.bak
/dod_respawnctrl.sma.bak
/dod_rukopash.sma.bak
/dod_rune.sma.bak
/dod_semiclip.sma.bak
/dod_setsmodelarray.sma.bak
/dod_shotgun.sma.bak
/dod_smokegrenade2.sma.bak
/dod_smokegrenades.sma.bak
/dod_smokegrenades_0722.sma.bak
/dod_teamsets.sma.bak
/dod_testexamples.sma.bak
/dod_throwknife_vask.sma.bak
/dod_throwknife_vask2.sma.bak
/dod_throwknife_weaponbox.sma.bak
/dod_throwknife_weaponbox_0722.sma
/dod_throwknife_weaponbox_0722.sma.bak
/dod_throwknife_weaponbox_0724.sma
/dod_throwknife_weaponbox_1.4.sma
/dod_throwknife_weaponbox_1.7.sma
/dod_throwknife_weaponbox_1122.sma
/dod_throwknife_weaponbox_117722old.sma
/dod_throwknife_weaponbox_271122.sma
/dod_throwknife_weaponbox_APR2023.sma
/dod_throw_kinfes.sma
/dod_throw_kinfes170.sma
/dod_throw_kinfes_dod.sma
/dod_throw_weapons_dod.sma.bak
/dod_trace.sma.bak
/DOD_TUTOR.sma.bak
/dod_weaponmod2.sma.bak
/DOD_WEAPONMOD_VASKOV.sma.bak
/dod_zenit.sma.bak
/dod_zookarock_oldtest.sma.bak
/ENTITER2_distancer.sma
/ENTITER2_distancer2.sma
/ENTITERHOS.sma
/ENTITERLAGER.sma
/entities_resources_replacement.sma
/fastspawn.sma
/fastspawn.sma.bak
/fmresearch.sma
/ghidra_bookmarks.sma
/gpt_example.sma
/gpt_hud_teams_becomes_red.sma
/grave.cpp
/Gun Shot Fire Event.sma
/imessage.sma
/include
/informator.sma
/mapchooser.sma
/mapsmenu.sma
/menufront.sma
/miscstats.sma
/modules.games
/molotov.sma
/molotov_beta.sma
/msglogging.sma
/multilingual.sma
/nextmap.sma
/offsets research.txt
/package_builder.bat
/pausecfg.sma
/plmenu.sma
/pluginmenu.sma
/plugins-weaponmod.ini
/rage_plugins1.sma
/reaimdetector.sma
/remaster.sma
/restmenu.sma
/reu_test.sma
/SamplePlugin.sma
/scripting.rar
/scripting_THROWER.rar
/scrollmsg.sma
/sk4.sma
/SMOKECOPY.sma
/sounds_scheme.sma
/sounds_scheme.sma.bak
/stats.sma
/statscfg.sma
/statssounds.sma
/statsx.sma
/stats_logging.sma
/strong.sma
/telemenu.sma
/testsuite
/throwing_knifes.sma
/timeleft.sma
/tut_menu.sma
/tut_menu.sma.bak
/updatehint.sma
/vdf_menu.sma
/vdf_menu.sma.bak
/vdf_parser.sma
/vdf_parser.sma.bak
/vdf_search.sma
/vdf_search.sma.bak
/vdf_sort.sma
/vectorexample.sma
/walkguard_free.rar
/walls_creator.sma
/weaponmod.sma
/wpn_dod_mortar_a2.sma
/zp_advanced_win_msgs.sma
/zp_extra_rcbomb.sma
/zp_extra_rcbomb.sma.bak
/zp_sprites_on_hud.sma
/zuka.sma
/таски.sma